

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css"> 
    <link rel="stylesheet" href="/styles/custome.css" type="text/css">  
    </head>
  <body class="background-hitam">
      
        <div class="py-1">
          <div class="container cardsview">
            
              <div class="col-md-12 ">
                <h4 class="mt-2 text-black text-center ">Daftar Anime 
                </h4>
              </div>
            
            <div class="row">
              <div class="col-md-12 p-4 ">
                
              
              
              <% _.each(anime,function(anime){%>
                <div class="row border py-2">
                    <div class="col-sm-2 text-center">
                      <a href="/detail-anime/<%=anime.id%>">
                        <img class="d-block img-fluid mb-2" src="/images/anime/<%= anime.photo_url%> "> </a>
                    </div>
                    <div class="col-sm-7 " >
                      <h3 class="mx-1"><a href="/detail-anime/<%=anime.id%>"><%= anime.nama_anime%></a></h3>
                      <p style="text-align: justify"  >
                          <%= anime.deskripsi.substring(0,500)%> ... <a href="/detail-anime/<%=anime.id%>"> Lihat Selengkapnya</a>
                      </p>
                    </div>
                    <% 
                      if(!req.session.User){%>
                        <div class="col-sm-3  text-center mt-3">
                            <a href="/anime_favorit/tambah?id_anime=<%= anime.id %>" ><i class="fa fa-heart fa-3x mxnav colorlovebefore " ></i></a>
                           </div>
                        <%}
                        else{%>
                          <div class="col-sm-3  text-center mt-3">
                              <a href="/anime_favorit/tambah?id_anime=<%= anime.id %>&id_user=<%= req.session.User.id%>" ><i class="fa fa-heart fa-3x mxnav colorlovebefore " ></i></a>
                             </div>
                          <%}
                    %>
                    
                  </div>
              <%})%>
                
              </div>
          </div>
          <center>
            <div class="col-md-2 ">
                <% if (pages > 0) { %>
                  <ul class="pagination text-center">
                      <% if (current == 1) { %>
                          <li class="disabled page-item"><a class="page-link">First</a></li>
                      <% } else { %>
                          <li class="page-item"><a class="page-link" href="/daftar-anime/1">First</a></li>
                      <% } %>
                      <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                      <% if (i !== 1) { %>
                          <li class="disabled page-item"><a>...</a></li>
                      <% } %>
                      <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                          <% if (i == current) { %>
                              <li class="active page-item"><a class="page-link"><%= i %></a></li>
                          <% } else { %>
                              <li class="page-item"><a class="page-link" href="/daftar-anime/<%= i %>"><%= i %></a></li>
                          <% } %>
                          <% if (i == Number(current) + 4 && i < pages) { %>
                              <li class="disabled page-link"><a>...</a></li>
                          <% } %>
                      <% } %>
                      <% if (current == pages) { %>
                          <li class="disabled page-item"><a class="page-link">Last</a></li>
                      <% } else { %>
                          <li class="page-item"><a class="page-link" href="/daftar-anime/<%= pages %>">Last</a></li>
                      <% } %>
                  </ul>
              <% } %>
              
           </div>
          </center>
      </div>
      
      </div>
      
        
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-expander/1.7.0/jquery.expander.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   
  </body>
  
  