<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css">
    <link rel="stylesheet" href="asset\custome.css" type="text/css">
</head>

<body class="background-hitam">
    <div class="py-2 text-center background-hitam">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="mb-2 mt-2 text-white">Rekomendasi Anime</h1>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row ">
            <div class="col-md3 mb-2 ">
                <div class="cardfilter border" style="background-color:white;">
                    <h4 class="text-black text-center">Filter</h4>
                </div>
                <div class="col-md-12 border" style="background-color:white;">
                    <h6 class="text-black mt-2 ">Genre</h6>
                    <div>
                        <input type="checkbox" class="m-1" placeholder="pria">Sc-fi
                    </div>
                    <div>
                        <input type="checkbox" class="m-1" placeholder="pria">Sc-fi
                    </div>
                    <div>
                        <input type="checkbox" class="m-1" placeholder="pria">Sc-fi
                    </div>
                    <div>
                        <input type="checkbox" class="m-1" placeholder="pria">Sc-fi
                    </div>
                </div>
                <div class="col-md-12 border" style="background-color:white;">
                    <h6 class="text-black mt-2">Rating</h6>
                    <div>
                        <input type="radio" class="m-1" placeholder="pria">5 Star Keatas
                    </div>
                    <div>
                        <input type="radio" class="m-1" placeholder="pria">4 Star Keatas
                    </div>
                    <div>
                        <input type="radio" class="m-1" placeholder="pria">3 Star Keatas
                    </div>
                    <div>
                        <input type="radio" class="m-1" placeholder="pria">2 Star Kebawah
                    </div>
                </div>
                <div class="col-md-12 border" style="background-color:white;">
                    <h6 class="text-black mt-2">Rating</h6>
                    <div class="overflows">
                        <div>
                            <input type="radio" class="m-1" placeholder="pria">2018
                        </div>
                        <div>
                            <input type="radio" class="m-1" placeholder="pria">2018
                        </div>
                        <div>
                            <input type="radio" class="m-1" placeholder="pria">2018
                        </div>
                        <div>
                            <input type="radio" class="m-1" placeholder="pria">2018
                        </div>
                        <div>
                            <input type="radio" class="m-1" placeholder="pria">2018
                        </div>
                    </div>
                    <button type="submit" class="btn btn-warnabiru mt-3 mb-2">Simpan</button>
                </div>
            </div>
            <div class="col-md9 mb-2 cardfilter" style="background-color:white;">
                <div class="row pl-1">
                    <%
                    
                    _.each(temp,function(rekomus){
                  %>
                        <div class="col-md4 mr-1 mb-1 p-2 border">

                            <div class="col-md-12 ">
                                    <a href="/detail-anime/<%=rekomus.id_anime%>">
                                        <img class="d-block img-fluid" style="width: 220px;height: 300px;" src="/images/anime/<%= rekomus.photo_url %>"> </a>
                            </div>
                            <% if(rekomus.nama_anime.length>30){%>
                                <h5 class="textcenter" style="font-size: 82%;padding-top: 10px;"><p><a href="/detail-anime/<%=rekomus.id_anime%>"><%= (rekomus?rekomus.nama_anime : 'ada masalah') %></a></p></h5>
                              <%}
                                else{%>
                                  <h5 class="textcenter"><p><a href="/detail-anime/<%=rekomus.id_anime%>"><%= (rekomus?rekomus.nama_anime : 'ada masalah') %>  </a></p></h5>
                                <%}
                              %>
                              <form action="/anime_favorit/tambah" method="POST">
                                <input type="hidden" name="id_anime" value="<%= rekomus.id_anime %>">
                                <%
                                  if(req.session.User){%>
                                    <input type="hidden" name="id_user" value="<%= req.session.User.id %>">
                                  <%}
                                %>
                                
                                
                                <button type="submit" class="btn btn-warnabiru ">Tambah Anime Favorite</button>
                              </form>
                        </div>
                        <%})%>

                </div>
                <center>
                        <div class="col-md-2 ">
                            <% if (pages > 0) { %>
                              <ul class="pagination text-center">
                                  <% if (current == 1) { %>
                                      <li class="disabled page-item"><a class="page-link">First</a></li>
                                  <% } else { %>
                                      <li class="page-item"><a class="page-link" href="/rekomendasi/<%= req.params.id%>/1">First</a></li>
                                  <% } %>
                                  <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                  <% if (i !== 1) { %>
                                      <li class="disabled page-item"><a>...</a></li>
                                  <% } %>
                                  <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                      <% if (i == current) { %>
                                          <li class="active page-item"><a class="page-link"><%= i %></a></li>
                                      <% } else { %>
                                          <li class="page-item"><a class="page-link" href="/rekomendasi/<%= req.params.id%>/<%= i %>"><%= i %></a></li>
                                      <% } %>
                                      <% if (i == Number(current) + 4 && i < pages) { %>
                                          <li class="disabled page-link"><a>...</a></li>
                                      <% } %>
                                  <% } %>
                                  <% if (current == pages) { %>
                                      <li class="disabled page-item"><a class="page-link">Last</a></li>
                                  <% } else { %>
                                      <li class="page-item"><a class="page-link" href="/rekomendasi/<%= req.params.id%>/<%= pages %>">Last</a></li>
                                  <% } %>
                              </ul>
                          <% } %>
                          
                       </div>
                      </center>
            </div>
            
        </div>
    </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>